{% extends 'base.html' %}

{% block title %}Новая заявка{% endblock %}

{% block content %}
<div class="card">
    <h2>Создание заявки</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Название</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label>Желаемая дата</label>
            {{ form.event_date }}
        </div>
        <div class="form-group">
            <label>Категория</label>
            {{ form.category }}
        </div>
        <div class="form-group">
            <label>Формат</label>
            {{ form.format }}
        </div>
        <div class="form-group">
            <label>Фото (можно перетащить файл или выбрать из папки)</label>
            {{ form.image }}
        </div>
        <button type="submit" class="btn">Отправить</button>
    </form>
</div>
{% endblock %}